@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
    --font-outfit: "Outfit", sans-serif;
    --font-mplus: "M PLUS 1", sans-serif;
    --font-bevietnam: "Be Vietnam Pro", sans-serif;

}

@theme {
    --color-primary: #2563EB;
    --color-primary-dull: #1F58D8;
    --color-light: #F1F5F9;
    --color-border: #c4c7d2;
}